@import 'bootstrap/scss/functions';

$primary: #d62828;
$secondary: #003049;
$bg-body: #f6f6f6;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/bootstrap';

.main-bg {
  background: linear-gradient(90deg, #f6f6f6 21px, transparent 1%) center,
    linear-gradient(#f6f6f6 20px, transparent 1%) center,
    rgba(122, 122, 145, 0.6);
  background-size: 22px 22px;
}
