@import 'bootstrap/scss/functions';

$primary: #d62828;
$secondary: #003049;
$bg-body: #f6f6f6;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/bootstrap';

.main-bg {
  background: linear-gradient(90deg, #f6f6f6 21px, transparent 1%) center,
    linear-gradient(#f6f6f6 20px, transparent 1%) center,
    rgba(122, 122, 145, 0.6);
  background-size: 22px 22px;
}

@mixin background-gradient {
  background-image: linear-gradient(90deg, #ddd 0px, #e3e3e3 40px, #ddd 80px);
  background-size: 600px;
}
.skeleton {
  @include background-gradient();
  animation: shine-lines 1500ms;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
